:root {
    --bg-color: #f1f1f1;
    --bg-color-cv: #ffffff;
    --fg-color: #0062ac;
    --fg-color-dark: #023b6c;
    --fg-color-body: #5e637a;
    --fg-color-title-sm: #6882a4;

}

[data-theme='dark'] {
    --bg-color: #28344b;
    --bg-color-cv: #1b263d;
    --fg-color: #3282c9;
    --fg-color-dark: #3282c9;
    --fg-color-body: rgba(192,230,255,0.8);
    --fg-color-title-sm: #6882a4;
}
