:root {
    --bg-color: #f1f1f1;
    --bg-color-cv: #ffffff;
    --fg-color: #9b6200;
    --fg-color-dark: #5b1702;
    --fg-color-body: #5e6369;
    --fg-color-title-sm: #937368;

}

[data-theme='dark'] {
    --bg-color: #3b2d28;
    --bg-color-cv: #2c201b;
    --fg-color: #b85632;
    --fg-color-dark: #b85632;
    --fg-color-body: rgba(250,212,187,0.75);
    --fg-color-title-sm: #937668;
}
